main {
	width: 100%;
	margin: 0 auto;
	--static-color-text: #ffffff;
}

@media only screen and (prefers-color-scheme: dark) {
	main {
		--color-text: #ffffff;
	}
}

@media only screen and (prefers-color-scheme: light) {
	main {
		--color-text: #000000;
	}
}

nav,
footer {
	color: var(--static-color-text);
}

main {
	color: var(--color-text);
}

nav {
	width: 100%;
	overflow: hidden;
	line-height: 1em;
	background: linear-gradient(135deg, #7599B9, #65568F);
}

nav svg {
	top: 6px;
	position: relative;
	width: 100%;
	transform: rotateY(180deg);
	fill: white;
	width: 150%;
	height: 40px;
}